<!DOCTYPE html>
<html>
<head th:replace="fragment/head :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
	<!-- Site wrapper -->
	<header th:replace="fragment/header :: header" style="position: fixed;width: 100%;"></header>
	<div class="wrapper">

		<!-- =============================================== -->

		<!-- Left side column. contains the sidebar -->
		<div th:replace="fragment/sidebar :: sidebar"></div>
		<!-- =============================================== -->

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper" style="display: flex; justify-content: center;">
			<div class="col-md-6" style="margin-top: 40px;">
				<div class="box box-primary">
					<div class="box-header with-border" style="text-align: center;">
						<h3 class="box-title">New Employee</h3>
					</div>
					<!-- /.box-header -->
					<!-- form start -->
					<form method="post" th:object="${employeeDto}">
						<div class="box-body">
							<div class="form-group">
								<label>Name</label>
								<div>
									<input class="form-control" th:field="${employeeDto.name}">
									<p th:if="${#fields.hasErrors('name')}"
										th:errorclass="text-danger" th:errors="${employeeDto.name}"></p>
								</div>
							</div>
							<div class="form-group">
								<label>Gender</label>
								<div>
									<select class="form-select" th:field="${employeeDto.gender}">
										<option value="Male">Male</option>
										<option value="Female">Female</option>
										<option value="Other">Other</option>
									</select>
									<p th:if="${#fields.hasErrors('gender')}"
										th:errorclass="text-danger" th:errors="${employeeDto.gender}"></p>
								</div>
							</div>
							<div class="form-group">
								<label>Date of Birth</label>
								<input class="form-control" type="date" th:field="${employeeDto.dob}">
								<p th:if="${#fields.hasErrors('dob')}"
									th:errorclass="text-danger" th:errors="${employeeDto.dob}"></p>
							</div>
							<div class="form-group">
								<label>Phone Number</label>
								<input class="form-control" type="tel" th:field="${employeeDto.phone}">
								<p th:if="${#fields.hasErrors('phone')}"
									th:errorclass="text-danger" th:errors="${employeeDto.phone}"></p>
							</div>
							<div class="form-group">
								<label>Email</label>
								<input class="form-control" type="email" th:field="${employeeDto.email}">
								<p th:if="${#fields.hasErrors('email')}"
									th:errorclass="text-danger" th:errors="${employeeDto.email}"></p>
							</div>
							<div class="form-group">
								<label>Address</label>
								<div>
									<input class="form-control" th:field="${employeeDto.address}">
									<p th:if="${#fields.hasErrors('address')}"
										th:errorclass="text-danger" th:errors="${employeeDto.address}"></p>
								</div>
							</div>
							<div class="form-group">
								<label>Salary</label>
								<input class="form-control" type="number" step="0.01" min="0" th:field="${employeeDto.salary}">
								<p th:if="${#fields.hasErrors('salary')}"
									th:errorclass="text-danger" th:errors="${employeeDto.salary}"></p>
							</div>
							<div class="form-group">
								<label>Status</label>
								<div>
									<select class="form-select" th:field="${employeeDto.status}">
										<option value="Active">Active</option>
										<option value="Inactive">Inactive</option>
									</select>
									<p th:if="${#fields.hasErrors('status')}"
										th:errorclass="text-danger" th:errors="${employeeDto.status}"></p>
								</div>
							</div>
							<div class="form-group">
								<label>Position</label>
								<div>
									<input class="form-control" th:field="${employeeDto.position}">
									<p th:if="${#fields.hasErrors('position')}"
										th:errorclass="text-danger" th:errors="${employeeDto.position}"></p>
								</div>
							</div>
						</div>
						<!-- /.box-body -->

						<div class="box-footer">
							<div class="row">
								<div class="col-sm-6" style="display: flex; justify-content: flex-start;">
									<a class="btn btn-outline-primary" href="/employees" role="button" style="background-color: red; color: white;">Cancel</a>
								</div>
								<div class="col-sm-6" style="display: flex; justify-content: flex-end;">
									<button type="submit" class="btn btn-primary">Submit</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- /.content-wrapper -->
	</div>
	<!-- ./wrapper -->

	<!-- jQuery 3 -->
	<div th:replace="fragment/script :: script"></div>
</body>
</html>
 