<!DOCTYPE html>
<html>
<head th:replace="patials/head :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
	<!-- Site wrapper -->
	<header th:replace="patials/header :: header" style="position: fixed; width: 100%;"></header>
	<div class="wrapper">
		<!-- =============================================== -->
		<!-- Left side column. contains the sidebar -->
		<div th:replace="patials/sidebar :: sidebar"></div>
		<!-- =============================================== -->

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper" style="margin-top: 50px;">
			<!-- Content Header (Page header) -->

			<!-- Main content -->
			<section class="content">

				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Employees</h3>
						<div>
							<a class="btn btn-success" href="employees/create">Create Employee</a>
						</div>
					</div>
					<div class="box-body">
						<table class="table">
							<thead>
								<tr>
									<th>ID</th>
									<th>Name</th>
									<th>Gender</th>
									<th>Date of Birth</th>
									<th>Phone Number</th>
									<th>Email</th>
									<th>Address</th>
									<th>Position</th>
									<th>Salary</th>
									<th>Status</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="employee : ${employees}">
									<td th:text="${employee.id}"></td>
									<td th:text="${employee.name}"></td>
									<td th:text="${employee.gender}"></td>
									<td th:text="${#dates.format(employee.Dob, 'yyyy-MM-dd')}"></td>
									<td th:text="${employee.phone}"></td>
									<td th:text="${employee.email}"></td>
									<td th:text="${employee.address}"></td>
									<td th:text="${employee.position}"></td>
									<td th:text="${employee.salary}"></td>
									<td th:text="${employee.status}"></td>
									<td style="white-space: nowrap">
										<a class="btn btn-primary btn-sm" th:href="@{/employees/edit(employeeID=${employee.id})}">Edit</a>
										<a class="btn btn-danger btn-sm" th:href="@{/employees/delete(employeeID=${employee.id})}" onclick="return confirm('Are you sure?')">Delete</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- /.box -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
	</div>
	<!-- ./wrapper -->

	<!-- jQuery 3 -->
	<div th:replace="patials/script :: script"></div>
</body>
</html>
