<!DOCTYPE html>
<html>
<head th:replace="~{fragment/head :: head}"></head>
<body class="hold-transition skin-blue sidebar-mini">
	<!-- Site wrapper -->
	<header th:replace="fragment/header :: header"
		style="position: fixed; width: 100%;"></header>
	<div class="wrapper">
		<!-- =============================================== -->

		<!-- Left side column. contains the sidebar -->
		<div th:replace="fragment/sidebar :: sidebar"></div>
		<!-- =============================================== -->

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper" style="margin-top: 50px; min-height: 1100px;">
			<!-- Content Header (Page header) -->


			<!-- Main content -->
			<section class="content" style="min-height: 70px">
				<h1>Trang quản trị</h1>
			</section>

			<div class="row" style="margin-right: -5px; margin-left: -5px;">
				<div class="col-lg-3 col-xs-6">
					<!-- small box -->
					<div class="small-box bg-aqua">
						<div class="inner">
							<h3>
								<span th:text="${totalNumberCustomer}"></span>
							</h3>

							<p>Customers</p>
						</div>
						<div class="icon">
							<i class="fa fa-user"></i>
						</div>
						<a href="/admin/showviewtable?table=customers"
							class="small-box-footer">More info <i
							class="fa fa-arrow-circle-right"></i></a>
					</div>
				</div>
				<!-- ./col -->
				<div class="col-lg-3 col-xs-6">
					<!-- small box -->
					<div class="small-box bg-green">
						<div class="inner">
							<h3>
								<span th:text="${totalNumberProduct}"></span>
							</h3>

							<p>Products</p>
						</div>
						<div class="icon">
							<i class="fa fa-tag"></i>
						</div>
						<a href="/admin/showviewtable?table=products"
							class="small-box-footer">More info <i
							class="fa fa-arrow-circle-right"></i>
						</a>
					</div>
				</div>
				<!-- ./col -->
				<div class="col-lg-3 col-xs-6">
					<!-- small box -->
					<div class="small-box bg-yellow">
						<div class="inner">
							<h3>
								<span th:text="${totalNumberOrder}"></span>
							</h3>

							<p>Orders</p>
						</div>
						<div class="icon">
							<i class="fa fa-shopping-cart"></i>
						</div>
						<a href="/admin/showviewtable?table=orders"
							class="small-box-footer">More info <i
							class="fa fa-arrow-circle-right"></i>
						</a>
					</div>
				</div>
				<!-- ./col -->
				<div class="col-lg-3 col-xs-6">
					<!-- small box -->
					<div class="small-box bg-red">
						<div class="inner">
							<h3>
								<span th:text="${totalNumberSupplier}"></span>
							</h3>

							<p>Suppliers</p>
						</div>
						<div class="icon">
							<i class="fa fa-truck"></i>
						</div>
						<a href="/admin/showviewtable?table=suppliers"
							class="small-box-footer">More info <i
							class="fa fa-arrow-circle-right"></i></a>
					</div>
				</div>
				<!-- ./col -->
			</div>

			<!-- Veiw Table -->
			<div class="row" style="margin-right: 10px; margin-left: 10px;">
				<div class="box" id="myTable"
					th:style="${showTable ? 'display: table;' : 'display: none;'}">
					<!-- /.box-header -->
					<div class="row" style="padding-left: 15px; padding-right: 15px;">
						<!-- Products -->
						<div th:style="${viewproducts ? 'display: table; width:100%;' : 'display: none;'}">
						<div class="box-header with-border" style="height: 30px;">
							<h3 class="box-title">Products INF</h3>
							<div class="box-tools pull-right">
								<button type="button" class="btn btn-box-tool"
									data-widget="collapse">
									<i class="fa fa-minus"></i>
								</button>
								<button type="button" class="btn btn-box-tool"
									data-widget="remove">
									<i class="fa fa-times"></i>
								</button>
							</div>
						</div>
						<div class="box-body" style="width:100%">
							<div id="example2_wrapper"
								class="dataTables_wrapper form-inline dt-bootstrap">
								<div class="row">
									<div class="col-sm-6"></div>
									<div class="col-sm-6"></div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<table id="resultTable"
											class="table table-bordered table-hover dataTable"
											role="grid">
											<thead>
												<tr>
													<th>ID</th>
													<th>Name</th>
													<th>Category</th>
													<th>Supplier ID</th>
													<th>Price</th>
													<th>Base Price</th>
													<th>Discount</th>
													<th>Quantity</th>
													<th>Image</th>
													<th>Brand</th>
													<th>Created</th>
													<th>Updated</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="product : ${products}">
													<td th:text="${product.id}"></td>
													<td th:text="${product.name}"></td>
													<td th:text="${product.category}"></td>
													<td th:text="${product.supplierID}"></td>
													<td th:text="@{${product.price} + '$'}"></td>
													<td th:text="@{${product.baseprice} + '$'}"></td>
													<td th:text="${product.discount}"></td>
													<td th:text="${product.quantity}"></td>
													<td><img
														th:src="@{'/images/' + ${product.imageFileName}}"
														alt="..." width="50"></td>
													<td th:text="${product.brand}"></td>
													<td><span
														th:text="${#dates.format(product.createdAt, 'dd/MM/yyyy')}"></span>
														<br> <span
														th:text="${#dates.format(product.createdAt, 'HH:mm:ss')}"></span>
													</td>
													<td><span
														th:text="${#dates.format(product.updatedAt, 'dd/MM/yyyy')}"></span>
														<br> <span
														th:text="${#dates.format(product.updatedAt, 'HH:mm:ss')}"></span>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						</div>
						<!-- ./Products -->
						<!-- Customers -->
						<div th:style="${viewcustomers ? 'display: table;width: 100%;' : 'display: none;'}">
						<div class="box-header with-border" style="height: 30px;">
							<h3 class="box-title">Customers INF</h3>
							<div class="box-tools pull-right">
								<button type="button" class="btn btn-box-tool"
									data-widget="collapse">
									<i class="fa fa-minus"></i>
								</button>
								<button type="button" class="btn btn-box-tool"
									data-widget="remove">
									<i class="fa fa-times"></i>
								</button>
							</div>
						</div>						
						<div class="box-body" style="width: 100%;">
							<div id="example2_wrapper"
								class="dataTables_wrapper form-inline dt-bootstrap">
								<div class="row">
									<div class="col-sm-6"></div>
									<div class="col-sm-6"></div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<table id="resultTable"
											class="table table-bordered table-hover dataTable"
											role="grid">
											<thead>
												<tr>
													<th>ID</th>
													<th>Name</th>
													<th>Address</th>
													<th>Date of Birth</th>
													<th>Gender</th>
													<th>Phone Number</th>
													<th>Email</th>
													<th>Created Date</th>
													<th>Updated Date</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="customer : ${customers}">
													<td th:text="${customer.id}"></td>
													<td th:text="${customer.name}"></td>
													<td th:text="${customer.address}"></td>
													<td th:text="${customer.dob.toString().substring(0, 10)}"></td>
													<td th:text="${customer.gender}"></td>
													<td th:text="${customer.phone}"></td>
													<td th:text="${customer.email}"></td>
													<td
														th:text="${customer.customerDateCreated.toString().substring(0, 10)}"></td>
													<td
														th:text="${customer.customerDateUpdated.toString().substring(0, 10)}"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						</div>
						<!-- ./Customers -->
						<!-- Orders -->
						<div th:style="${vieworders ? 'display: table;width: 100%;' : 'display: none;'}">
						<div class="box-header with-border" style="height: 30px;">
							<h3 class="box-title">Orders INF</h3>
							<div class="box-tools pull-right">
								<button type="button" class="btn btn-box-tool"
									data-widget="collapse">
									<i class="fa fa-minus"></i>
								</button>
								<button type="button" class="btn btn-box-tool"
									data-widget="remove">
									<i class="fa fa-times"></i>
								</button>
							</div>
						</div>
						<div class="box-body" style="width : 100%;">
							<div id="example2_wrapper"
								class="dataTables_wrapper form-inline dt-bootstrap">
								<div class="row">
									<div class="col-sm-6"></div>
									<div class="col-sm-6"></div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<table id="resultTable"
											class="table table-bordered table-hover dataTable"
											role="grid">
											<thead>
												<tr>
													<th>ID</th>
													<th>CustomerID</th>
													<th>ProductID</th>
													<th>Quantity</th>
													<th>Price</th>
													<th>Payment Method</th>
													<th>Payment Status</th>
													<th>Status</th>
													<th>Note</th>
													<th>Created Date</th>
													<th>Updated Date</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="order : ${orders}">
													<td th:text="${order.id}"></td>
													<td th:text="${order.customerID}"></td>
													<td th:text="${order.productID}"></td>
													<td th:text="${order.quantity}"></td>
													<td th:text="${order.price} "></td>
													<td th:text="${order.paymentMethod}"></td>
													<td th:text="${order.paymentStatus}"></td>
													<td th:text="${order.orderStatus}"></td>
													<td th:text="${order.note}"></td>
													<td
														th:text="${#dates.format(order.createdAt, 'yyyy-MM-dd')}"></td>
													<td
														th:text="${#dates.format(order.updatedAt, 'yyyy-MM-dd')}"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						</div>
						<!-- ./Orders -->
						<!-- Suppliers -->
						<div th:style="${viewsuppliers ? 'display: table;width: 100%;' : 'display: none;'}">
						<div class="box-header with-border" style="height:30px;">
							<h3 class="box-title">Suppliers INF</h3>
							<div class="box-tools pull-right">
								<button type="button" class="btn btn-box-tool"
									data-widget="collapse">
									<i class="fa fa-minus"></i>
								</button>
								<button type="button" class="btn btn-box-tool"
									data-widget="remove">
									<i class="fa fa-times"></i>
								</button>
							</div>
						</div>
						<div class="box-body" style="width: 100%;">
							<div id="example2_wrapper"
								class="dataTables_wrapper form-inline dt-bootstrap">
								<div class="row">
									<div class="col-sm-6"></div>
									<div class="col-sm-6"></div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<table id="resultTable"
											class="table table-bordered table-hover dataTable"
											role="grid">
											<thead>
												<tr>
													<th>ID</th>
													<th>Name</th>
													<th>Address</th>
													<th>Description</th>
													<th>Phone</th>
													<th>Email</th>
													<th>Created At</th>
													<th>Updated At</th>
													<th>Brand Logo</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="supplier : ${suppliers}">
													<td th:text="${supplier.id}"></td>
													<td th:text="${supplier.name}"></td>
													<td th:text="${supplier.address}"></td>
													<td th:text="${supplier.description}"></td>
													<td th:text="${supplier.phone}"></td>
													<td th:text="${supplier.email}"></td>
													<td
														th:text="${#dates.format(supplier.createdAt, 'yyyy-MM-dd')}"></td>
													<td
														th:text="${#dates.format(supplier.updatedAt, 'yyyy-MM-dd')}"></td>
													<td><img
														th:src="@{'/images/' + ${supplier.imageLogo}}"
														alt="Brand Logo" width="100"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						</div>
						<!-- ./Suppliers -->
					</div>
					<!-- /.box-body -->
				</div>
			</div>
			<!-- ./View Table -->
			<!-- /Top menu -->
			<div class="row" style="background-color: white; margin: 10px;">
				<!-- Best Selling Product -->
				<div class="col-md-3 text-center bg-primary text-white"
					style="padding: 20px; height: 150px;">
					<div class="icon">
						<i class="fa fa-shopping-cart fa-3x" aria-hidden="true"></i>
					</div>
					<h4 class="mt-3">Best Selling Products</h4>
					<a></a>
				</div>

				<!-- Top Products -->
				<div class="col-md-3 text-center" style="padding-top: 30px;">
					<div class="icon">
						<i class="fa fa-archive fa-2x" aria-hidden="true"></i>
					</div>

					<h5 class="mt-3">TOP 2</h5>
					<p>
						<span th:text="${top2Product.name}">
					</p>
					<p>
						<span th:text="${top2Product.totalSold}">
					</p>
				</div>
				<div class="col-md-3 text-center" style="padding-top: 30px;">
					<div class="icon">
						<i class="fa fa-archive fa-2x" aria-hidden="true"></i>
					</div>
					<h5 class="mt-3">TOP 1</h5>
					<p>
						<span th:text="${top1Product.name}">
					</p>
					<p>
						<span th:text="${top1Product.totalSold}">
					</p>
				</div>
				<div class="col-md-3 text-center" style="padding-top: 30px;">
					<div class="icon">
						<i class="fa fa-archive fa-2x" aria-hidden="true"></i>
					</div>
					<h5 class="mt-3">TOP 3</h5>
					<p>
						<span th:text="${top3Product.name}">
					</p>
					<p>
						<span th:text="${top3Product.totalSold}">
					</p>
				</div>
			</div>

			<div class="row" style="background-color: white; margin: 10px;">
				<!-- Best Selling Product -->
				<div class="col-md-3 text-center bg-primary text-white"
					style="padding: 20px; background-color: yellowgreen; height: 150px;">
					<div class="icon">
						<i class="fa fa-industry fa-3x" aria-hidden="true"></i>
					</div>
					<h4 class="mt-3">Highest Reneuve Suppliers</h4>
				</div>

				<!-- Top Products -->
				<div class="col-md-3 text-center" style="padding-top: 30px;">
					<div class="icon">
						<i class="fa fa-cubes fa-2x" aria-hidden="true"></i>
					</div>
					<h5 class="mt-3">TOP 2</h5>
					<p>
						<span th:text="${top2Supplier.name}">
					</p>
					<p>
						$ <span th:text="${top2Supplier.totalRevenue}">
					</p>
				</div>
				<div class="col-md-3 text-center" style="padding-top: 30px;">
					<div class="icon">
						<i class="fa fa-cubes fa-2x" aria-hidden="true"></i>
					</div>
					<h5 class="mt-3">TOP 1</h5>
					<p>
						<span th:text="${top1Supplier.name}">
					</p>
					<p>
						$ <span th:text="${top1Supplier.totalRevenue}">
					</p>
				</div>
				<div class="col-md-3 text-center" style="padding-top: 30px;">
					<div class="icon">
						<i class="fa fa-cubes fa-2x" aria-hidden="true"></i>
					</div>
					<h5 class="mt-3">TOP 3</h5>
					<p>
						<span th:text="${top3Supplier.name}">
					</p>
					<p>
						$ <span th:text="${top3Supplier.totalRevenue}">
					</p>
				</div>
			</div>

			<div class="row" style="background-color: white; margin: 10px;">
				<!-- Best Selling Product -->
				<div class="col-md-3 text-center bg-primary text-white"
					style="padding: 20px; background-color: orange; height: 150px;">
					<div class="icon">
						<i class="fa fa-users fa-3x" aria-hidden="true"></i>
					</div>

					<h4 class="mt-3">Buy Much Customer</h4>
				</div>

				<!-- Top Products -->
				<div class="col-md-3 text-center" style="padding-top: 30px;">
					<div class="icon">
						<i class="fa fa-user fa-2x" aria-hidden="true"></i>
					</div>
					<h5 class="mt-3">TOP 2</h5>
					<p>
						<span th:text="${top2Customer.name}">
					</p>
					<p>
						<span th:text="${top2Customer.totalOrder}">
					</p>
				</div>
				<div class="col-md-3 text-center" style="padding-top: 30px;">
					<div class="icon">
						<i class="fa fa-user fa-2x" aria-hidden="true"></i>
					</div>
					<h5 class="mt-3">TOP 1</h5>
					<p>
						<span th:text="${top1Customer.name}">
					</p>
					<p>
						<span th:text="${top1Customer.totalOrder}">
					</p>
				</div>
				<div class="col-md-3 text-center" style="padding-top: 30px;">
					<div class="icon">
						<i class="fa fa-user fa-2x" aria-hidden="true"></i>
					</div>
					<h5 class="mt-3">TOP 3</h5>
					<p>
						<span th:text="${top3Customer.name}">
					</p>
					<p>
						<span th:text="${top3Customer.totalOrder}">
					</p>
				</div>
			</div>
			<!-- /.Top menu -->
			<!-- /.box-body -->
		</div>

	</div>

	<!-- /.content-wrapper -->

	<!-- /.box -->

	<!-- /.content -->

	<!-- /.content-wrapper -->
	<!-- ./wrapper -->

	<!-- jQuery 3 -->
	<div th:replace="fragment/script :: script"></div>

</body>
</html>