<!DOCTYPE html>
<html>
<head th:replace="patials/head :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
	<!-- Site wrapper -->
	<header th:replace="patials/header :: header"
		style="position: fixed; width: 100%;"></header>
	<div class="wrapper">

		<!-- =============================================== -->

		<!-- Left side column. contains the sidebar -->
		<div th:replace="patials/sidebar :: sidebar"></div>

		<!-- =============================================== -->

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper" style="margin-top: 50px;">
			<!-- Content Header (Page header) -->

			<!-- Main content -->
			<section class="content">

				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Customers</h3>
						
						
						<!-- Xem report do chua co Report rieng trong menu -->

						<div>
							<a class="btn btn-success" href="/customers/create">Create Customer</a>
							<a class="btn btn-info mb-3" href="/customers/report">View Customer Report</a>
							<!-- Thanh tìm kiếm -->
							<form class="mb-4" method="GET" action="/customers/search" style = "float: right">
							    <div class="input-group" style="
									display: flex; /* Căn ô input và nút Search cùng hàng */
									align-items: center;
									gap: 5px; /* Khoảng cách giữa input và nút Search */"
								>
							        <input type="text" name="keyword" class="form-control" placeholder="Search by id, name, address, email, or phone number" />
							        <button class="btn btn-primary" type="submit">Search</button>
							    </div>
							</form>
						</div>

					</div>
					<div class="box-body">
						<table class="table">
							<thead>
								<tr>
									<th>Customer ID</th>
									<th>Name</th>
									<th>Address</th>
									<th>Date of Birth</th>
									<th>Gender</th>
									<th>Phone Number</th>
									<th>Email</th>
									<th>Created Date</th>
									<th>Updated Date</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="customer : ${customers}">
						<td th:text="${customer.customerID}"></td>
						<td th:text="${customer.customerName}"></td>
						<td th:text="${customer.customerAddress}"></td>
						<td th:text="${customer.customerDOB.toString().substring(0, 10)}"></td>
						<td th:text="${customer.customerGender}"></td>
						<td th:text="${customer.customerPhone}"></td>
						<td th:text="${customer.customerEmail}"></td>
						<td th:text="${customer.customerDateCreated.toString().substring(0, 10)}"></td>
						<td th:text="${customer.customerDateUpdated.toString().substring(0, 10)}"></td>
						<td style="white-space:nowrap">
							<a class="btn btn-primary btn-sm"
								th:href="@{/customers/edit(id=${customer.customerID})}">Edit</a> 
							<a class="btn btn-danger btn-sm"
								th:href="@{/customers/delete(id=${customer.customerID})}"
								onclick="return confirm('Are you sure?')">Delete</a>
						</td>
					</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- /.box -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.box-body -->
		<div class="box-footer clearfix">
			<ul class="pagination pagination-sm no-margin pull-right">
				<li><a href="#">«</a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">»</a></li>
			</ul>
		</div>
	</div>
	<!-- /.box -->
	<!-- /.content -->
	<!-- /.content -->
	<!-- /.content-wrapper -->

	<footer th:replace="patials/footer :: footer"></footer>
	<!-- ./wrapper -->

	<!-- jQuery 3 -->

	<div th:replace="patials/script :: script"></div>
</body>
</html>