<!DOCTYPE html>
<html>
<head th:replace="patials/head :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
	<!-- Site wrapper -->
	<header th:replace="patials/header :: header"
		style="position: fixed; width: 100%;"></header>
	<div class="wrapper">
		<!-- =============================================== -->

		<!-- Left side column. contains the sidebar -->
		<div th:replace="patials/sidebar :: sidebar"></div>
		<!-- =============================================== -->

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper" style="margin-top: 50px;">
			<!-- Content Header (Page header) -->

			<!-- Main content -->
			<section class="content">

				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Products</h3>
						<div>
							<a class="btn btn-success" href="products/create">Create
								Product</a>
						</div>
						<form class="mb-4" method="GET" action="/products/search"
							style="float: right">
							<div class="input-group"
								style="display: flex; /* Căn ô input và nút Search cùng hàng */ align-items: center; gap: 5px;">
								<input type="text" name="keyword" class="form-control"
									placeholder="Search by name" />
								<button class="btn btn-primary" type="submit">Search</button>
							</div>
						</form>
					</div>
					<div class="box-body">
						<table class="table">
							<thead>
								<tr>
									<th>ID</th>
									<th>Name</th>
									<th>Category</th>
									<th>supplierID</th>
									<th>Price</th>
									<th>Base_Price</th>
									<th>Discount</th>
									<th>Quantity</th>
									<th>Image</th>
									<th>Brand</th>
									<th>Created</th>
									<th>Updated</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="product : ${products}">
									<td th:text="${product.id}"></td>
									<td th:text="${product.name}"></td>
									<td th:text="${product.category}"></td>
									<td th:text="${product.supplierID}"></td>
									<td th:text="@{${product.price} + '$'}"></td>
									<td th:text="@{${product.baseprice} + '$'}"></td>
									<td th:text="${product.discount}"></td>
									<td th:text="${product.quantity}"></td>
									<td><img
										th:src="@{'/images/' + ${product.imageFileName}}" alt="..."
										width="50"></td>
									<td th:text="${product.brand}"></td>
									<td><span
										th:text="${#dates.format(product.createdAt, 'dd/MM/yyyy')}"></span>
										<br> <span
										th:text="${#dates.format(product.createdAt, 'HH:mm:ss')}"></span>
									</td>
									<td><span
										th:text="${#dates.format(product.updatedAt, 'dd/MM/yyyy')}"></span>
										<br> <span
										th:text="${#dates.format(product.updatedAt, 'HH:mm:ss')}"></span>
									</td>
									<td style="white-space: nowrap"><a
										class="btn btn-primary btn-sm"
										th:href="@{/products/edit(id=${product.id})}">Edit</a> <a
										class="btn btn-danger btn-sm"
										th:href="@{/products/delete(id=${product.id})}"
										onclick="return confirm('Are you sure?')">Delete</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- /.box -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.box-body -->
		<div class="box-footer clearfix">
			<ul class="pagination pagination-sm no-margin pull-right">
				<li><a href="#">«</a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">»</a></li>
			</ul>
		</div>
	</div>
	<!-- /.box -->

	<!-- /.content -->
	<!-- /.content -->

	<!-- /.content-wrapper -->

	<footer th:replace="patials/footer :: footer"></footer>

	<!-- ./wrapper -->

	<!-- jQuery 3 -->
	<div th:replace="patials/script :: script"></div>

</body>
</html>
